<h1 mat-dialog-title>{{ data.thing.name }} ({{ data.thing.id }})</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      placeholder="JWT"
      type="text"
      [value]="data.jwt"
      #inputTarget
      readonly
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    mat-button
    [ngxClipboard]="inputTarget"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Copy JWT
  </button>
</div>
